$primary: #025373;
$secondary:  #3999BF;
$alternative: #45A9BF;
$text-color: #1760BF;

$spacing-large:6rem;
$spacing-medium:2.4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;

$font-principal:"Tahoma"
$font-title:"Serif";

$text-large:5.2rem;
$text-medium:2.2rem;
$text-base:1.6rem;
$text-small:1.4rem;
